# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & temp
*.log
*.tmp

# Jupyter
.ipynb_checkpoints/

# Outputs / results
results.json
*.csv
*.npy
*.npz

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/